# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Client/target
/Client/pom.xml
/Common/target
/Common/pom.xml
/Server/target
/Server/pom.xml
pom.xml
Lab6Modules/.idea
Lab6Modules/src
